@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
*{
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: hsl(30, 54%, 90%);
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-direction: column;
    margin: 0;
}
.container{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0;  
}
.content{
    padding: 20px;
     gap: 10px;
     line-height:25px ;
    
}
.flist{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: hsl(30, 54%, 90% );
    border-radius: 20px;
    opacity: 50px;
    margin: 0px 0px 16px;
    margin: 0;
}
span{
    font-weight: bold;
}
hr{
    margin: 0 0 16px;
}
ul span{
    display: flex;
    display: inline;
   font-weight: bold;
   line-height: 30px;
}

h1{
    font-family:"Young Serif" ;
    font-size: 30px;
    margin: 0px 0px 16px;
    line-height: 30px;
}
p{
    line-height: 20px;
    margin: 0px 0px 16px;
}
h2{
    font-family: "Outfit";
    color: hsl(14, 45%, 36%);
    margin: 0;
}
img{
    width: 100%;
}
span{
  
    font-weight:500px ;
    gap: 30px;
}
table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 16px;
  border-collapse: collapse;
  
  
}
table span{
   
    display: inline;
    color: hsl(14, 45%, 36%);
    margin-left: 40px;
    
}
tr{
    border-bottom: 1px solid black;
}
ol span{
    display: flex;
    display: inline;
    gap: 20px;
}
@media screen (max-width:750px){
    .container{
        flex-diretion:column;

    }
}